html, body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  background: black;
  color: white;
  overflow: hidden;
}

.car-view {
  position: relative;
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.car-body {
  position: absolute;
  left: 27px;
  top: 177px;
  transform: rotate(-90deg);
  height: 120px;
}

button {
  font-size: calc(10px + 2vmin);
}
