* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: gray;
}

video {
  display: block;
}

.App {
  background: white;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* background: black; */
  /* color: white; */
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.App.fakeScreen {
  width: 1280px;
  height: 720px;
  border: solid 3px black;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
}

.activity-outer {
  flex: 1;
  position: relative;
}

.activity {
  height: 100%;
  width: 100%;
}

.activity[hidden] {
  display: none;
}

.radar {
  display: flex;
  flex-flow: column;
}

.radar .columns {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.car-view {
  position: relative;
  display: inline-block;
  width: 320px;
  overflow: hidden;
}

.car-body {
  position: absolute;
  left: 27px;
  top: 177px;
  transform: rotate(-90deg);
  height: 120px;
}

.cameras {
  align-self: stretch;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  max-height: 100%;
  max-width: 50%;
}

.camera {
  background: #333;
  position: relative;
  margin: 0;
  padding: 0;
  /* display: flex; */
}

.camera .label {
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.camera video {
  width: 100%;
}

.front {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.front .frontView, .front img {
  margin: auto;
  display: block;
  /* max-height: 100%; */
  width: 100%;
  background: rgb(206, 206, 206);
}

.front .lidarView {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 132, 255, 0.2);
}

.my-navbar.MuiBottomNavigation-root {
  height: 75px;
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background: none; */
  border-top-right-radius: 19px;
  /* box-shadow: 0 0 10px gray; */
}

.my-navbar .MuiButtonBase-root {
  margin: 5px;
  letter-spacing: 5px;
  text-align: center;
  /* box-shadow: rgba(254,254,254,0.25) 0px 1px 3px,
        inset rgba(254,254,254,0.1) 0px 1px 0px,
        inset rgba(0,0,0,0.25) 0px 0px 0px,
        inset rgba(254,254,254,0.03) 0px 20px 0px,
        inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(254,254,254,0.05) 0px 20px 20px;
  background: black;
  color: white; */
  background: white;
  box-shadow: rgba(0,0,0,0.25) 0px 1px 3px,
        inset rgba(0,0,0,0.1) 0px 1px 0px,
        inset rgba(255,255,255,0.25) 0px 0px 0px,
        inset rgba(0,0,0,0.03) 0px 20px 0px,
        inset rgba(255,255,255,0.15) 0px -20px 20px, inset rgba(0,0,0,0.05) 0px 20px 20px;
}

.my-navbar .MuiButtonBase-root:last-child {
  border-top-right-radius: 19px;
}

.my-navbar .MuiButtonBase-root.Mui-selected {
  /* color: #97a6ff; */
}

.my-navbar .MuiSvgIcon-root {
  font-size: 2rem;
}

.my-navbar .MuiBottomNavigationAction-label {
  font-size: 1.2rem!important;
  padding-left: 5px;
}

.music iframe {
  zoom: 1.5;
}